<p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Год издания:</strong>
  <%= @book.publishingyear %>
</p>

<p>
  <strong>Издательство:</strong>
  <%= @book.publishinghouse %>
</p>


<button type="button" class="btn btn-outline-success"><%= link_to 'Назад', books_path %></button>
